html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

iframe {
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

p {
  font-family: "Lora", serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

.postlist > div:first-child .featured {
  background: saffron;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px lightgrey;
  padding: 12px 10px 0px 10px;
  margin: 0px -10px;
  &:before {
    content: "featured";
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
  }
  .thumbnail__data {
    padding-top: 4px;
  }
}
