@use "./vars.scss";

html {
  font-family: $sansserif;
  font-size: $fontsize;
  box-sizing: border-box;
}

iframe {
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: $sansserifbold;
}

h1 {
  font-size: $h1size;
}

h2 {
  font-size: $h2size;
}

h3 {
  font-size: $h3size;
}

p {
  font-size: $psize;
}
