// colors

$lightgrey: #eee;
$dimgrey: lightgrey;
$grey: grey;

// fontsizes

$fontsize: 16px;
$h1size: 2em;
$h2size: 1.3em;
$h3size: 1.2em;
$psize: 1em;

// typography

$sansserif: "Source Sans Pro", sans-serif;
$serif: "Lora", serif;
$sansserifbold: bold;
$p-height: 1.5em;
$paragraph-break: 1.7em;
$soft-break: 0.6em;
